.header{
    color:#000000;
    text-decoration:none;
    word-spacing: 1cm;
    padding:20px;
}
.content{
    background-color: black;
    color:#ffffff;
    padding: 200px;
    text-align: center;
    size:50px;
    padding-bottom: 30px;
    font-size: 50px;
}
.section{
    text-align: center;
    padding-bottom: 30px;
}
.footer{
    text-align: center;
    background-color: black;
    color:#ffffff;
    padding: 30px;
}
.chat{
    width: 60px;
    height: 60px;
    background-color: #4fce5d;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 2px;
}
.navigation{
    width: 100%;
    height: 50px;
    background-color: bisque;
    position: fixed;
    top:0px;
    bottom: 0px;
}
.navigation > h4 {
    text-align: center;
}
